.whatHeSays{
  color: #0063ac;
  font-size: 30px;
}

#multi-part-should-say{
  display: none;
}

#multi-wizard-says{
  display: none;
}

#singe-part-said{
  display: none;
}

.WoZStyle{
  font-size:25px;
}

.list-group-item.correct {
  background-color: green;
  color: white;
  cursor:pointer;
}

.list-group-item.correct:hover {
  background-color: lightgrey;
  color:green;
}

.list-group-item.wrong {
  background-color: red;
  color: white;
  cursor:pointer;
}

.list-group-item.wrong:hover {
  background-color: lightgrey;
  color:red;
}

.list-group-item.new {
  background-color: orange;
  color: white;
  cursor:pointer;
}
.list-group-item.new:hover {
  background-color: lightgrey;
  color:orange;
}

.list-group-item.inCorrectSymbol {
  background-color: blue;
  color: white;
  cursor:pointer;
}
.list-group-item.inCorrectSymbol:hover {
  background-color: lightgrey;
  color:blue;
}


